/backend/node_modules
/backend/package-lock.json
/my-app/node_modules
/my-app/variable.tf
/my-app/.env
/my-app/package-lock.json
/my-app/build
/my-app/terraform.tfstate
/my-app/terraform.tfstate.backup
/my-app/node_modules
/my-app/.terraform.lock.hcl
my-app/.terraform/providers/registry.terraform.io/hashicorp/aws/5.62.0/darwin_arm64/terraform-provider-aws_v5.62.0_x5
